@page
@model WebApplicationExamen1.Pages.Departamento.GridModel
@{
}
<div class="container">
    <div class="card">
        <div class="card-header">
            Departamento
        </div>
        <div class="card-body">

        </div>
    </div>
</div>